pandas
numpy 
gymnasium
lightgbm
xgboost
scikit-learn
seaborn
plotly
matplotlib
stable-baselines3[extra]
torch --index-url https://download.pytorch.org/whl/cu118
torchvision
torchaudio
feather-format

